<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="ZYEduDataBaseContext" connectionString="data source=.;Initial Catalog = ZYEduDataBase;User Id = sa;Password =123" providerName="System.Data.SqlClient" />
   
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ZYNetTcpBinding" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="ZYFileTcpBinding" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
    
      <endpoint address="net.tcp://192.168.0.2/ZY.Edu.WCFService/ExamManagerService.svc" binding="netTcpBinding" bindingConfiguration="ZYNetTcpBinding" contract="ZY.Edu.WCFServiceContract.IExamManagerService" name="IExamManagerService"/>
      <endpoint address="net.tcp://192.168.0.2/ZY.Edu.WCFService/CardManagerService.svc" binding="netTcpBinding" bindingConfiguration="ZYNetTcpBinding" contract="ZY.Edu.WCFServiceContract.ICardManagerService" name="ICardManagerService"/>
    
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="QiNiuKeyDomian" value="exampaper.qiniudn.com"/>
 
  </appSettings>

</configuration>
